.contact {

  background: black;
  background: linear-gradient(315deg, black 1%, #c10000 40%, #fa0000 50%, rgba(136, 0, 0, 0.98083) 60%, black 120%);

  &__column {
    padding: 123px 0 123px;
    display: flex;

    .column-left {
      max-width: 580px;
      flex-basis: 580px;
      padding: 40px;
      background: black;
      background: linear-gradient(315deg, black 1%, #c10000 40%, #fa0000 50%, rgba(136, 0, 0, 0.98083) 60%, black 120%);

      h3 {
        font-size: 26px;
        font-weight: bold;
        font-family: $raleway;
        line-height: 0.551;
        color: $white;
        padding: 23px 0;
        text-transform: uppercase;
      }

      .form {
        max-width: 580px;
        flex-basis: 580px;
        flex-grow: 1;

        textarea {
          height: 200px;
          resize: vertical;
          width: 100%;
          padding: 5px 20px;
          margin-top: 27px;
          background: none;
          border: 1px solid white;
          color: $white;
        }

        .btn {
          text-align: center;
          min-width: 200px;
          padding: 8px;
          color: $white;
          background: #ff2b4a;
          float: right;
          margin: 35px 0 0;
          cursor: pointer;
          border: none;

          &:hover {
            color: $black;
            background-color: $white_transparent;
            font-weight: 700;
          }
        }


      }

      .form input[type='text'] {
        border: 1px solid white;
        height: 50px;
        padding: 5px 20px;
        outline: none;
        font-size: 12px;
        font-family: $roboto;
        font-weight: 400;
        width: 100%;
        margin: 13px 0;
        background: none;

      }
    }

    .column-right {
      max-width: 580px;
      margin-left: 15px;
      width: 580px;
      flex-wrap: wrap;

    }

    h3 {
      font-size: 26px;
      font-weight: bold;
      font-family: $raleway;
      line-height: 1.077;
      color: $white;
      padding: 23px 0;
      text-transform: uppercase;

    }

    .address {
      padding-left: 40px;
      background: black;
      background: linear-gradient(315deg, black 1%, #c10000 40%, #fa0000 50%, rgba(136, 0, 0, 0.98083) 60%, black 120%);
      padding: 40px 63px;
      color: $white;
      line-height: 1.876;
      font-size: 16px;
      font-family: $roboto;

      div {
        font-size: 16px;
        font-family: $roboto;
        color: $white_transparent;
        line-height: 1.876;
      }
    }

    .phone {
      margin-top: 15px;
      padding-left: 40px;
      background: black;
      background: linear-gradient(315deg, black 1%, #c10000 40%, #fa0000 50%, rgba(136, 0, 0, 0.98083) 60%, black 120%);
      padding: 40px 63px;

      a {
        font-size: 16px;
        font-family: $roboto;
        color: $white_transparent;
        line-height: 1.876;
      }
    }

    .web {
      margin-top: 15px;
      padding-left: 40px;
      background: black;
      background: linear-gradient(315deg, black 1%, #c10000 40%, #fa0000 50%, rgba(136, 0, 0, 0.98083) 60%, black 120%);
      padding: 40px 63px;

      a {
        text-decoration: none;
        color: $white-transparent;
        font-size: 16px;
        font-family: $roboto;
        color: $white_transparent;
        line-height: 1.876;
      }
    }

  }



}