.work {

  &__top {

    padding: 125px 0 45px;

  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: $raleway;
    line-height: 0.7;
    text-align: center;
    padding-bottom: 56px;
  }

  p {
    color: $black_transparent;
    text-align: center;
    font-size: 16px;
    font-family: $roboto;
    font-weight: 500;
    line-height: 0.7;
  }

  &__row-top,
  &__row-buttom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0;

    .box {
      width: calc(25% - 15px);
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      width: 285px;
      height: 270px;


      @include screen(1170) {
        margin: 15px 0;
      }

      img {
        width: 270px;
        height: 255px;
        position: absolute;
        cursor: pointer;

        &:hover {
          background-color: #10c6fc;
          opacity: 0.3;
          transition: 0.3s;
        }
      }

    }

    .box-1 {
      width: calc(33.3% - 15px);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 580px;
      height: 270px;
    }

  }

  &__row-buttom {
    margin-bottom: 125px;
  }

}